body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding: 1rem;
  border-bottom: solid 2px black;
}
.carted {
  color: rgb(129, 145, 145);
}

td .fa-cart-plus,
.fa-edit,
.fa-trash {
  cursor: pointer;
}
